.main {
  width: 95vw;
  height: 95vh;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main > div {
  height: 100%;
  width: 50%;
  margin: auto;
}

.block-game {
  margin-top: 5px;
  height: 80%;
  width: 50%;
  border: 1px solid white;
  margin: 10px auto auto auto;
}

.block-game * {
  z-index: 1
}

.rocket-ship-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.force-field {
  background-image: url("../../wireframes/forcefield.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 0px;
}

.rocket-ship {
  background-image: url("../../wireframes/spaceship.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 45px;
  transform: rotate(-150.05deg);
  position: absolute;
  bottom: 30px;
  left: 15px;
}

.row {
  width: 100%;
  height: 5%;
  display: flex;
}

.row > div {
  margin: 0;
  padding: 0;
  width: 10%;
  border: 2px inset rgb(214, 214, 214, 0.5);
  /* border: 0.1px solid #ddd; */
}

.O, .T, .S, .Z, .I, .L, .J {
  border: 2px outset #ddd !important;
}

.O {
  background-color: #b5a677;
}

.T {
  background-color: #b77c72;
}

.S {
  background-color: #816e56;
}

.Z {
  background-color: #e3be58;
}

.I {
  background-color: #ec858b;
}

.L {
  background-color: #f8efae;
}

.J {
  background-color: #f1b598;
}