.info-section {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFF5C0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ufo {
  background-image: url("../../wireframes/ufo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 50%;
  margin-left: auto;
}

.level-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  line-height: 1.5;
}

.level {
  font-size: 50px;
}

.score {
  font-size: 35px;
}

#github-logo {
  background-image: url("../github_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

#linkedin-logo {
  background-image: url("../linkedin_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

#portfolio-links {
  display: flex;
  justify-content: space-around;
  width: 125px;
}