.info-section {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #FFF5C0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ufo {
  background-image: url("../../wireframes/ufo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%;
  height: 50%;
  margin-left: auto;
}

.level-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  line-height: 1.5;
}

.level {
  font-size: 50px;
}

.score {
  font-size: 35px;
}