.main {
  width: 95vw;
  height: 95vh;
  margin: auto;
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main > div {
  height: 100%;
  width: 50%;
  margin: auto;
}

.block-game {
  margin-top: 5px;
  height: 80%;
  width: 65%;
  border: 1px solid white;
  margin: 10px auto auto auto;
}

.rocket-ship-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.force-field {
  background-image: url("../../wireframes/forcefield.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 0px;
}

.rocket-ship {
  background-image: url("../../wireframes/spaceship.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 45px;
  transform: rotate(-150.05deg);
  position: absolute;
  bottom: 30px;
  left: 15px;
}